#react-paginate ul {
  display: inline-block;
}

#react-paginate li {
  display: inline-block;
}

#react-paginate .selected {
  background-color: #64a281;
  border-color: #64a281;
  color: #fff;
  pointer-events: none;
}

#react-paginate ul {
  display: flex;
  justify-content: center;
  border-radius: 0.25em;
  border: 1px solid #e6e6e6;
}

#react-paginate li {
  margin: 0;
  border-right: 1px solid #e6e6e6;
}
#react-paginate li:last-of-type {
  border-right: none;
}

#react-paginate li a {
  border-radius: 0;
  padding: 0 1em;
  border: none;
}
